<!DOCTYPE html>
<html>
  <head>
  	<link rel='stylesheet' href='/stylesheets/call.css' />

	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/adapter.js"></script>
	<script type="text/javascript" src="javascripts/RTCclient.js"></script>

  </head>
  <body>
  	<video class="local" id="localVideo"></video>
	<div class="remote" id="remoteVideosContainer"></div>
  	
	<script>
		mediaConfig = {
        	audio:true,
        	video: {
          		mandatory: {},
          		optional: []
        	}
      	};

		client = new PeerManager();
		getUserMedia(
			mediaConfig, 
			function(stream){
				attachMediaStream(document.getElementById('localVideo'), stream);
				client.setLocalStream(stream);
				client.peerOffer(window.location.pathname.slice(1), false);
			},
			function () {
          		throw new Error('Failed to get access to local media.');
        	}
        );
				
	</script>
  </body>
</html>