<%= include layoutTop %>
  <body>
	<p><%= header %></p>
	<ul class="modes" data-bind="foreach: mode">
		<li data-bind="text: $data,
			css: { selected: $data == $root.chosenMode() },
			click: $root.goToMode"></li>
	</ul>
	<video data-bind="visible: chosenMode() === 'Stream'" id="localVideo"></video>
	
	<table data-bind="visible: chosenMode() === 'Watch'">
    	<thead>
    		<tr>
        		<th>Action</th><th>Stream ID</th><th>Status</th>
   			</tr>
   		</thead>
    	<tbody data-bind="foreach: availableStreams">
    		<tr>
        		<td>
        			<button type="button" data-bind="visible: state() === 'Available', click: $root.startStream">
        				Play Stream
        			</button>
        			<button data-bind="visible: state() === 'Playing', click: $root.stopStream">
        				Stop Stream
        			</button>
        		</td>
        		<td data-bind="text: id"></td>
        		<td data-bind="text: state"></td>
    		</tr>    
		</tbody>
		<div id="remoteVideosContainer"></div>
	</table>
	
	<script>
		var client = new RTCclient();
		ko.applyBindings(client);
	</script>
<%= include layoutBottom %>