<%= include layoutTop %>
  <body>
  	<p><%= header %></p>
  	<div class="localCam">
  		<h1>Local Camera</h1>
		<video id="localVideo"></video>
		<ul>
			<li><input data-bind="value: name" /></li>
			<li><a href="#" data-bind="click: $root.startLocalVideo">Start</a></li>
			<li><a href="#" data-bind="click: $root.stopLocalVideo">Stop</a></li>
		</ul>
	</div>
	<table>
		<h1>Remote Streams</h1>
		<a href="#" data-bind="click: $root.refresh">Refresh List</a>
    	<thead>
    		<tr>
        		<th>Stream</th><th>Status</th><th>Rating</th>
   			</tr>
   		</thead>
    	<tbody data-bind="foreach: availableStreams">
    		<tr class="remoteStream">
        		<td data-bind="text: name, css: { selected: state() == 'Playing' }, click: $root.chooseStream"></td>
        		<td data-bind="text: state"></td>
        		<td data-bind="starRating: points"></td>
    		</tr>
		</tbody>
		<div id="remoteVideosContainer"></div>
	</table>
	
	<script>
		var client = new RTCclient();
		ko.applyBindings(client);
	</script>
<%= include layoutBottom %>