<%= include layoutTop %>
  <body>
  	<h1><%= header %></h1>

  	
  	<div class="localCam">
  		<p>Username :<input data-bind="value: name" /></p>
  		<h2>Local Camera</h2>
		<video id="localVideo"></video>
		<ul>
			<li><a href="#" data-bind="click: toggleLocalVideo, text: localCamButtonText"></a></li>
		</ul>
		<p data-bind="visible: isStreaming">
			Share this link :
			<a data-bind="text: link"></a>
		</p>
	</div>


	<table>
		<h2>Remote Streams</h2>
		<div id="remoteVideosContainer"></div>
		<a href="#" data-bind="click: $root.refresh">Refresh List</a>
    	<thead>
    		<tr>
        		<th>Stream</th><th>Status</th><th>Rating</th>
   			</tr>
   		</thead>
    	<tbody data-bind="foreach: streams">
    		<tr class="remoteStream">
        		<td data-bind="css: { selected: state() == 'Playing' }, click: $root.toggleRemoteVideo">
        			<a data-bind="text: name"></a>
        		</td>
        		<td data-bind="text: state"></td>
        		<td data-bind="starRating: points, click: $root.rate"></td>
    		</tr>
		</tbody>		
	</table>


	<script>
		client = new PeerManager();
		vm = new RTCViewModel(client);
		vm.refresh();
		ko.applyBindings(vm);
	</script>
<%= include layoutBottom %>