<%= include layoutTop %>
  <body>
  	<h1><%= header %></h1>

  	
  	<div class="localCam">

  		<h2>Local Camera</h2>

  		<p>Username :<input data-bind="value: name" /></p>
  		<p>Private :<input type="checkbox" data-bind="checked: isPrivate" /></p>

		<video id="localVideo"></video>
		<li data-bind="click: toggleLocalVideo">
			<a href="#" data-bind="text: localCamButtonText"></a>
		</li>

		<div data-bind="visible: isStreaming">
			
			<p>Share this link :</p>
			<a data-bind="text: link"></a>

		</div>
	</div>


	<table>

		<h2>Remote Streams</h2>

		<div id="remoteVideosContainer"></div>
		<a href="#" data-bind="click: $root.refresh">Refresh List</a>

    	<thead>
    		<tr>
        		<th>Stream</th><th>Rating</th>
   			</tr>
   		</thead>
    	<tbody data-bind="foreach: streams">
    		<tr class="remoteStream">
        		<td data-bind="css: { selected: isPlaying() }, click: $root.toggleRemoteVideo">
        			<a data-bind="text: name"></a>
        		</td>
        		<td data-bind="starRating: points, click: $root.rate"></td>
    		</tr>
		</tbody>

	</table>


	<script>
		client = new PeerManager();
		vm = new RTCViewModel(client);
		ko.applyBindings(vm);
	</script>
	
<%= include layoutBottom %>