<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/adapter.js"></script>
	<script type="text/javascript" src="javascripts/RTCclient.js"></script>
	
	<script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="javascripts/knockout-3.0.0beta.js"></script>
	<script type="text/javascript" src="javascripts/RTCViewModel.js"></script>
  </head>