<div class="remoteStreams">

	<h2>Remote Streams</h2>

	<div id="remoteVideosContainer"></div>
	<table>
    	<thead>
    		<tr>
        		<th>Stream</th>
                <th>1-way</th>
                <th>2-way</th>
   			</tr>
   		</thead>
    	<tbody data-bind="foreach: streams">
    		<tr>
        		<td>
        			<a data-bind="text: name"></a>
        		</td>
                <td data-bind="css: { selected: isPlaying() }, click: $root.toggleRemoteVideo">
                    <a>View</a>
                </td>
                <td data-bind="css: { selected: isPlaying() }, click: $root.answerCall">
                    <a>Call</a>
                </td>
    		</tr>
		</tbody>
	</table>

    <li data-bind="click: refresh" style="width: 240px">
        <a href="#">Refresh</a>
    </li>
</div>