<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/adapter.js"></script>
	<script type="text/javascript" src="javascripts/RTCclient.js"></script>
  </head>
  <body>
  	<div id="remoteVideosContainer"></div>
  	
	<script>
		client = new RTCclient();
		client.peerOffer(window.location.pathname.slice(1));		
	</script>
  </body>
</html>