<!DOCTYPE html>
<html>
  <head>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/adapter.js"></script>
	<script type="text/javascript" src="javascripts/RTCclient.js"></script>
  </head>
  <body>
  	<div id="remoteVideosContainer"></div>
  	
	<script>
		mediaConfig = {
        	audio:true,
        	video: {
          		mandatory: {},
          		optional: []
        	}
      	};

		client = new PeerManager();
		getUserMedia(
			mediaConfig, 
			function(stream){
				client.setLocalStream(stream);
				client.peerOffer(window.location.pathname.slice(1));
			},
			function () {
          		throw new Error('Failed to get access to local media.');
        	}
        );
				
	</script>
  </body>
</html>