body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

table, tr, td, th {margin:0;border:0;padding:5px;border-collapse: collapse;}

.localCam {
	position: fixed;
    top: 15px;
    right: 15px;
	float: right;
}

.localCam li {
	display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 3px #888;
    padding: 5px 5px 5px 5px;
}

.localCam video {
    border: 5px solid rgb(119, 119, 119);
    outline: 0px none;
    height: 240px;
    width: 320px;
}

.footer {
   float: bottom;
   clear: both;
}

.starRating span { width:24px; height:24px; background-image: url('/images/stars.png'); display:inline-block; cursor: pointer; background-position: -24px 0; }
.starRating span.chosen { background-position: 0 0; }
.starRating:hover span { background-position: -24px 0; }
.starRating:hover span.hoverChosen { background-position: 0 0; }

.remoteStream {
	text-align: center;
}

.remoteStream:hover {
	cursor: pointer;
	background-color: #aaa;
}

.remoteStream .selected {
	background-color: #444 !important;
	text-shadow:none;
	border-right-color: #aaa;
	border-left: none;
	border-radius: 3px 3px 3px 3px;
	box-shadow:inset 1px 2px 6px #070707;
}    

